{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
		<h1>Rango says:</h1>
	</div>
	<div>
		<p></strong> Visits: {{ visits }}</p>
		Here is the about page!<br />
		This tutorial has been put together by Waqar-un-nisa Nabi, 2033822N
		<p><a href="{% url 'auth_password_change' %}">Change password</a></p>
	</div>
	</div>
		<img src ="{% static "images/me.jpg " %}" alt = "Picture of Waqar-un-nisa Nabi" width = "380px" height = "500px"/> <!--New Line-->
	
	</div>
{% endblock %}
